{% render 'partials/head.liquid' %}
<header>
<img src="../assets/logo.svg">
</header>

    <section>
        <h1>Wat is het Prelude Fonds?</h1>
        <p>Voor leerlingen tot 18 jaar die financieel niet in staat zijn om een instrument te huren, is er het Prelude Fonds. Dit fonds ondersteunt leerlingen door (gedeeltelijk) de kosten van de instrumenthuur te dekken, zodat iedereen de kans krijgt om een instrument te leren bespelen bij Cool.</p>
        <p>De huur van een instrument bedraagt dankzij het fonds slechts €15,- per jaar voor kinderen van ouders met een DijkenwaardPas en mensen die een goedgekeurde aanvraag hebben ontvangen van het Jeugdfonds Sport en Cultuur. Het huren van een instrument uit het fonds is onder voorbehoud van beschikbaarheid.</p>
        <p>Wil je gebruik maken van deze regeling? Dit kun je aangeven op het inschrijfformulier (zowel schriftelijk als online) <a href="mailto:info@coolkunstencultuur.nl">of neem contact met ons op.</a></p>
    </section>

    <a href="/instrumenten" class="instrumenten">Instrumenten Overzicht</a>
{% render 'partials/foot.liquid' %}